# News API
NEWS_API_KEY=your_news_api_key

# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_DEFAULT_REGION=us-east-1

# S3
S3_BUCKET_NAME=your_s3_bucket_name

# Amazon Redshift
REDSHIFT_HOST=your-redshift-cluster.amazonaws.com
REDSHIFT_PORT=5439
REDSHIFT_DATABASE=dev
REDSHIFT_USER=your_username
REDSHIFT_PASSWORD=your_password
REDSHIFT_IAM_ROLE=arn:aws:iam::<account-id>:role/<redshift-role>
